In [1]:
# making the instance of an object

class PartyAnimal:
    
    def __init__(self):
        self.x = 0
        
    def party(self):
        self.x = self.x + 1
        print('so far x is:',self.x)
        
     # object deleted   
    def __del__(self):
        print('am destructed', self.x)
        
an = PartyAnimal()

# PartyAnimal().party() # is the same as below

an.party()
an.party()
an.party()

an = 40 # object destruction
print('the new value is:',an)

#check what type is an instance
type(an)
dir(an) #what can be done

so far x is: 1
so far x is: 2
so far x is: 3
am destructed 3
the new value is: 40

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [45]:
#checking what operations Python can do with lists
y = list()
type(y)
dir(y)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
#what python can do with dict
y = {}
type(y)
dir(y)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [114]:
# INHERITANCE
class PartyAnimal:
    
    def __init__(self, z):
        self.x = 0
        self.name = z
        print(self.name, 'constructed')
        
    def party(self):
        self.x = self.x + 1
        print('so far x is:',self.name, self.x)
        
class FootballFans: 
    
    def __init__(self, nam):
        self.x = 1
        self.nam = nam
        print(self.nam, 'are here!')
        
    def sports(self):
        self.x = self.x + 7
        print('so far we have:',self.x, self.nam)
        
# s = PartyAnimal('tra')
# z = PartyAnimal('tyr')
# print(s.party())
# print(z.party())

#initialise the instances for call
a = PartyAnimal('John')
b = FootballFans('zimbabwean fans')

print(a.party())
print(b.sports())

John constructed
zimbabwean fans are here!
so far x is: John 1
None
so far we have: 8 zimbabwean fans
None

In [15]:
import sqlite3  # Import the SQLite module to work with databases in Python

# Establish a connection to the database (creates 'emaildb.sqlite' if it doesn't exist)
conn = sqlite3.connect('emaildb.sqlite')

# Create a cursor object which allows us to execute SQL commands on the database
cur = conn.cursor()

# Drop the table 'Counts' if it already exists to avoid errors when recreating it
cur.execute('DROP TABLE IF EXISTS Counts')

# Create a new table 'Counts' with two columns: 'email' (text) and 'count' (integer)
cur.execute('CREATE TABLE Counts (org TEXT, count INTEGER)')

# Prompt the user for the file name
fname = input('Enter file name: ')
# Set default file name if none provided
if len(fname) < 1: 
    fname = 'mbox.txt'

# Try opening the file with error handling
try:
    fh = open(fname)
except FileNotFoundError:
    print(f"Error: File '{fname}' not found.")
    exit()

# Loop through each line in the file
for line in fh:
    # If the line does not start with 'From: ', skip it
    if not line.startswith('From: '): 
        continue 

    # Split the line into parts (splits at whitespace by default)
    pieces = line.split()

    # Extract the email address (which is the second part of the line)
    email = pieces[1]
    
    
    # Extract the domain (everything after the '@' symbol)
    org = email.split('@')[1]

    # Select the 'count' value for the domain if it exists in the database
    cur.execute('SELECT count FROM Counts WHERE org = ?', (org, ))
    row = cur.fetchone()  # Fetch one row from the results

    # If the email is not found in the database, insert it with an initial count of 1
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count) VALUES (?, 1)''', (org, ))
    # If the email is found, update its count by adding 1
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?', (org, ))

    # Commit (save) the changes to the database
    conn.commit()

# Query the database to select the top 10 emails with the highest counts
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

# Loop through the rows returned by the SQL query and print each email and its count
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

# Close the database connection after the script finishes
conn.close()

Enter file name:  mbox.txt

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

In [1]:
import sqlite3

# Connect to a test database (this will create the file if it doesn't exist)
conn = sqlite3.connect('test.db')

# Create a cursor object
cur = conn.cursor()

# Create a sample table
cur.execute('CREATE TABLE IF NOT EXISTS test (id INTEGER PRIMARY KEY, name TEXT)')

# Insert some data
cur.execute("INSERT INTO test (name) VALUES ('Alice')")
conn.commit()

# Query the table
cur.execute('SELECT * FROM test')
rows = cur.fetchall()
print(rows)  # Should print: [(1, 'Alice')]

# Close the connection
conn.close()

[(1, 'Alice'), (2, 'Alice')]

In [3]:
import sqlite3  # Import the SQLite module to work with databases in Python

# Establish a connection to the database (creates 'emaildb.sqlite' if it doesn't exist)
conn = sqlite3.connect('trackdb.sqlite')

# Create a cursor object which allows us to execute SQL commands on the database
cur = conn.cursor()

# Drop the tables if it already exists and recreate to avoid errors when recreating it
cur.execute('''

                 DROP TABLE IF EXISTS Album,
                 DROP TABLE IF EXISTS Artist,
                 DROP TABLE IF EXISTS Track
                 
                 CREATE TABLE IF NOT EXISTS Artist 
                 (id INTEGER PRIMARY KEY, 
                 name TEXT, UNIQUE);
                 
                 CREATE TABLE IF NOT EXISTS Album 
                 (id_album INTEGER PRIMARY KEY, 
                 name_album TEXT, UNIQUE);
                 
                 CREATE TABLE IF NOT EXISTS Track 
                 (id_track INTEGER PRIMARY KEY, 
                 name_track TEXT, UNIQUE);
                 
                 ''')

# Prompt the user for the file name
fname = input('Enter file name: ')
# Set default file name if none provided
if len(fname) < 1: 
    fname = 'mbox.txt'

# Try opening the file with error handling
try:
    fh = open(fname)
except FileNotFoundError:
    print(f"Error: File '{fname}' not found.")
    exit()
    
    
#insert data into the tables
cur.execute(''' INSERT OR IGNORE INTO Artist(name)
                VALUES(?,)''', (artist,))
cur.execute('SELECT id FROM Artist WHERE Artist = ?', (artist, ))
artist_id = cur.fetchone()[0]

#insert data on Album table
cur.execute(''' INSERT OR IGNORE INTO Album(title, artist_id)
                VALUES(?, ?)''', (album, artist_id))
cur.execute('SELECT id FROM Album WHERE Album = ?', (album, ))
album_id = cur.fetchone()[0]

#data into table
cur.execute(''' INSERT OR REPLACE INTO Track(
                title, album_id, len, rating, count)
                VALUES(?,?,?,?,?), ()''',(title, album_id, length,rating, count))
conn.commit()


# Query the database to select the top 10 emails with the highest counts
sqlstr = 'SELECT Artist FROM Album ORDER BY artist DESC LIMIT 10'

# Loop through the rows returned by the SQL query and print each email and its count
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

# Close the database connection after the script finishes
conn.close()

OperationalError: near ",": syntax error

In [3]:
import sqlite3

# Add a timeout to handle locking issues
conn = sqlite3.connect('trackdb.sqlite', timeout=50)
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
            DROP TABLE IF EXISTS Artist;
            DROP TABLE IF EXISTS Album;
            DROP TABLE IF EXISTS Track;
            DROP TABLE IF EXISTS Genre;

            CREATE TABLE Artist (
                id  INTEGER PRIMARY KEY,
                name    TEXT UNIQUE
            );

            CREATE TABLE Album (
                id  INTEGER PRIMARY KEY,
                artist_id  INTEGER,
                title   TEXT UNIQUE
            );
            
             CREATE TABLE Genre (
                id  INTEGER PRIMARY KEY,
                genre_id  INTEGER,
                title   TEXT UNIQUE
                
            );

            CREATE TABLE Track (
                id  INTEGER PRIMARY KEY,
                title TEXT  UNIQUE,
                genre_id INTEGER,
                album_id  INTEGER,
                len INTEGER, rating INTEGER, count INTEGER
            );
            ''')

# Prompt the user for the file name
ftracks = input('Enter file name: ') #use [tracks.csv] 
if len(ftracks) < 1:
    ftracks = 'tracks.csv'

# Try opening the file with error handling
try:
    ftracks = open(ftracks,  encoding='ISO-8859-1')
except FileNotFoundError:
    print(f"Error: File '{ftracks}' not found.")
    exit()

# Process each line from the file
for line in ftracks:
    line = line.strip()
    pieces = line.split(',')
    if len(pieces) < 6: 
        continue

    name = pieces[0]
    artist = pieces[1]
    album = pieces[2]
    count = pieces[3]
    rating = pieces[4]
    length = pieces[5]
    genre = pieces[6] if len(pieces) > 6 else None  # Handle missing genre

    # print(name, artist, album, count, rating, length, genre)

    # Insert or ignore Artist
    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', (artist,))
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist,))
    artist_id = cur.fetchone()[0]

    # Insert or ignore Album
    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', (album, artist_id))
    
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album,))
    album_id = cur.fetchone()[0]
    
    cur.execute('SELECT id FROM Genre WHERE title = ? ', (genre,))
    row = cur.fetchone()
    
    #conditional check if genre exist
    if row is None:
        # Insert the genre if it doesn't exist
        cur.execute('''INSERT INTO Genre (title) VALUES (?)''', (genre,))
        conn.commit()  # Commit the new genre
        # Fetch the newly inserted genre
        cur.execute('SELECT id FROM Genre WHERE title = ? ', (genre,))
        genre_id = cur.fetchone()[0]
    else:
        genre_id = row[0]

    # Insert or replace Track
    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count, genre_id) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        (name, album_id, length, rating, count, genre_id))

# Commit the changes once, after all rows have been processed
conn.commit()

# Close the database connection after the script finishes
conn.close()

Enter file name:  tracks.csv

In [2]:
from datasets import load_dataset

ds_files = './tracks.csv'
ds = load_dataset('csv', data_files = ds_files)
ds

Generating train split: 0 examples [00:00, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['Another One Bites The Dust', 'Queen', 'Greatest Hits', '55', '100', '217103', 'Rock'],
        num_rows: 350
    })
})

In [3]:
import pandas as pd
df = pd.read_csv(ds_files, index_col=2)
df.head(5)

,Another One Bites The Dust,Queen,55,100,217103,Rock
Greatest Hits,,,,,,
Herzeleid,Asche Zu Asche,Rammstein,79,100,231810,Industrial
Grease,Beauty School Dropout,Various,48,100,239960,Soundtrack
IV,Black Dog,Led Zeppelin,109,100,296620,Rock
The Wall [Disc 2],Bring The Boys Back Home,Pink Floyd,33,100,87118,Rock
Blues Is,Circles,Bryan Lee,54,60,355369,Funk